*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #5D8696;
    height: 80px;
    width: 100%;
}
h1{
    position:absolute;
    top:0.7vw;
    left: 2vw;
}
.tom{
    background-color:#8FAFCC;
     display: flex;
}
.tom .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.jerry{
    background-color:#CCA885;
     display: flex;
}
.jerry .info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info2 h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.info{
    margin-left: 130px;
}
.info2{
    margin-left: 200px;
}
.tom a {
    color: #5D8696;
    text-decoration: none;
    border: 2px solid #5D8696;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
}
.jerry a {
    color: #d9dad4;
    text-decoration: none;
    border: 2px solid #d9dad4;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
}